<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.madem.homium">

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".application.HomiumApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.ingredient.IngredientEditActivity"
            android:exported="false"
            android:parentActivityName=".ui.activities.recipe.RecipeEditActivity"
            android:noHistory="true"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

        <activity
            android:name=".ui.activities.launch.LaunchActivity"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.onboarding.OnboardingActivity"
            android:exported="false"
            android:theme="@style/NoActionBarTheme">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".ui.activities.shoppingitem.ShoppingItemEditActivity"
            android:exported="false"
            android:noHistory="true"
            android:parentActivityName=".ui.activities.main.MainActivity" />
        <activity
            android:name=".ui.activities.recipe.RecipeEditActivity"
            android:parentActivityName=".ui.activities.main.MainActivity" />
        <activity android:name=".ui.activities.test.TestActivity" />
        <activity
            android:name=".ui.activities.main.MainActivity"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.inventoryedit.InventoryItemEditActivity"
            android:exported="false"
            android:parentActivityName=".ui.activities.main.MainActivity">
        </activity>
        <activity android:name=".ui.activities.recipe.RecipePresentationActivity"
            android:exported="false"
            android:parentActivityName=".ui.activities.main.MainActivity">
        </activity>
    </application>
</manifest>